.hero {
  height: calc(100vh - 114px);
  display: flex;
  padding-right: 128px;
  padding-bottom: 114px;
}

.background {
  z-index: -10;
  position: absolute;
  top: 0;
  right: 0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.words_container {
  width: 500px;
  padding-left: 10%;

  h1 {
    font-size: 50px;
  }

  span {
    color: var(--primary-color);
  }

  p {
    color: var(--secondary-text-color)
  }

  button {
    background-color: var(--primary-color);
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    color: white;
    box-shadow: 0 4px 2px -2px grey;
    cursor: pointer;
    transition: background-color 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 32px;
  }

  svg {
    width: 25px;
    height: 25px;
  }
}

.img_container {
  max-width: 50%;

  img {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .hero {
    padding: 32px;

    h1 {
      font-size: 40px;
    }
  }

  .content {
    width: 100%;
  }

  .img_container {
    display: none;
  }

  .words_container {
    text-align: center;
    justify-content: center;
    padding-left: 0;
    margin: auto;

    button {
      margin: auto;
    }
  }
}
