:root {
  --primary-color: rgb(236, 90, 63);
  --primary-color-hover: rgba(236, 90, 63, 0.9);
  --secondary-background-color: #F4F4F4;
  --secondary-text-color: rgb(124, 124, 124)
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

textarea, input {
  font-family: 'Poppins', sans-serif;
  
}
